doctype html
div.container-fluid
  h3.page-title
  div.row-fluid
    div.span12          
      div.portlet.box.grey-gallery
        div.portlet-title
          div.caption
            | {{lang.title_node}}
          div.actions
        div.portlet-body
          form.cloud.form-horizontal(novalidate="novalidate",action="javascript:;")
            table#start-table.table.table-striped
              thead
                tr
                  th(ms-text="lang.label_node",style="font-weight: bolder;")
                  th(ms-text="lang.label_status",style="font-weight: bolder;")
                  th(ms-text="lang.label_func",style="font-weight: bolder;")
              tbody(ms-each-e="node")
                tr
                  td(ms-text="e.cid")
                  td(ms-html="fattr_server_health(e.status)")
                  td(style="width:100px;")
                    a.btn.mini.yellow(href="javascript:;",ms-click="start(e.cid);",ms-if="e.status===false")
                      | {{lang.func_start}}
                    a.btn.mini.red(href="javascript:;",ms-click="stop(e.cid);",ms-if="e.status===true")
                      | {{lang.func_stop}}
  div.modal-footer
    button.btn(type="button",data-dismiss="modal")
      i.icon-undo
      | {{lang.btn_cancel}}
    button.btn.green(type="button",ms-click="submit")
      i.icon-ok
      | {{lang.btn_confirm}}
       
