doctype html
div.modal-header
  button.close(type="button",data-dismiss="modal")
  h4(ms-text="lang.title")
div.modal-body
  div.portlet-body.form
    div.alert.alert-block.alert-error.fade.in
      h4.alert-heading(ms-text="lang.heading")
      p(ms-text="lang.alert1")

div.modal-footer
  button.btn(type="button",data-dismiss="modal")
    i.icon-undo
    | {{lang.btn_cancel}}
  button.btn.green(type="button",ms-click="submit")
    i.icon-ok
    | {{lang.btn_confirm}}
