doctype html
div.container-fluid
  ul.breadcrumb
    li
      a(href="#",ms-text="'主页'",ms-click="switch_to_page('overview')")
      i.icon-circle
    li
      a(href="#",ms-text="lang.title",ms-click="switch_to_page('monitor')")
      i.icon-circle
    li
      a(href="#",ms-text="lang.title_server",ms-click="switch_to_page('monitor')")
      i.icon-circle
    li
      a(href="#",ms-text="tabletitle")
  h3.page-title(ms-html="lang.title")
  div.row-fluid.wow.fadeIn(id="weed")
    div.span6
      div.portlet.solid.bordered.light-grey(style="border: 1px solid rgb(228, 228, 228);background: rgb(255, 255, 255) !important;")
        div.portlet-title(style="margin-bottom: 22px;padding: 12px 10px 17px;")
          div.caption(style="font-weight:bold")
            //i.icon-graph
            | {{lang.title_flow_in}}
            span(class="caption-helper",style="color: rgb(158, 172, 180);font-size: 13px;font-weight: 400;padding-left: 5px;") (MB/S)
          div.tools
            a(href="javascript:;",class="collapse")
            a(href="javascript:;",class="reload")
            a(href="javascript:;",class="remove")
          div.actions
            //div.btn-group.pull-right(data-toggle="buttons-radio")
              //a.btn.roundblue.mini(id="net_write",href="javascript:;",ms-text="lang.btn_write_flow",ms-class="active:flow_type=='fwrite_mb'",data-flow-type="fwrite_mb",style="font-size: 13px !important;height: 17px;color: rgb(77, 144, 254);background-color: rgb(255, 255, 255);margin-left: 5px !important;border-radius: 15px !important;border: 1px solid;padding-top: 8px;min-width: 25px;margin-top: -6px;")
              //a.btn.roundblue.mini(id="net_read",href="javascript:;",ms-text="lang.btn_read_flow",ms-class="active:flow_type=='fread_mb'",data-flow-type="fread_mb",style="font-size: 13px !important;height: 17px;color: rgb(77, 144, 254);background-color: rgb(255, 255, 255);margin-left: 5px !important;border-radius: 15px !important;border: 1px solid;padding-top: 8px;min-width: 25px;margin-top: -6px;")
        div.portlet-body(style="")
          div#load_stats_content(style="display: block;")
            div#flow_stats_in(style="height: 333px;font-size: 14px;")
            
    div.span6
      div.portlet.solid.bordered.light-grey(style="border: 1px solid rgb(228, 228, 228);background: rgb(255, 255, 255) !important")
        div.portlet-title(style="margin-bottom: 22px;padding: 12px 10px 17px;")
          div.caption(style="font-weight:bold")
            //i.icon-pie-chart
            | 服务指标
          div.actions
          div.tools
            a(href="javascript:;",class="collapse")
            a(href="javascript:;",class="reload")
            a(href="javascript:;",class="remove")
        div.portlet-body(style="")
          div(style="height:333px")
            div(style="padding: 10px;border-bottom: 1px solid rgb(243, 243, 243);")
              span6
                span(style="font-family: 'bebas';font-size: 25px;color:rgb(98, 168, 234)",ms-text="per_weed_cpu")
                span(style="display: block;color:rgb(141,141,141)") 
                  i.icon-feed
                  | minio(cpu)
              span6(style="float: right;margin-top: -40px;")
                div(id="mini_weed_cpu_serdetail",style=" display: inline-block; width: 22px; height: 20px;")
                //div(id="bar",class="progress progress-success progress-striped active")
                  //div(id="pro_weed_cpu",class="bar",style="")
 
            div(style="padding: 10px;border-bottom: 1px solid rgb(243, 243, 243);")
              span6
                span(style="font-family: 'bebas';font-size: 25px;color:rgb(98, 168, 234)",ms-text="per_weed_mem")
                span(style="display: block;color:rgb(141,141,141)") 
                  i.icon-fire
                  | minio(mem)
              span6(style="float: right;margin-top: -40px;")
                div(id="mini_weed_mem_serdetail",style=" display: inline-block; width: 22px; height: 20px;")
                //div(id="bar",class="progress progress-success progress-striped active")
                  //div(id="pro_weed_mem",class="bar",style="")
                  
            div(style="padding: 10px;border-bottom: 1px solid rgb(243, 243, 243);")
              span6
                span(style="font-family: 'bebas';font-size: 25px;color:rgb(98, 168, 234)",ms-text="per_docker + '%'")
                span(style="display: block;color:rgb(141,141,141)") 
                  i.icon-folder-close-alt
                  | docker文件夹容量
              span6(style="float: right;margin-top: -40px;")
                div(id="mini_docker_serdetail",style=" display: inline-block; width: 22px; height: 20px;")
         
            div(style="padding: 10px;border-bottom: 1px solid rgb(243, 243, 243);")
              span6
                span(style="font-family: 'bebas';font-size: 25px;color:rgb(98, 168, 234)",ms-text="per_tmp+ '%'")
                span(style="display: block;color:rgb(141,141,141)") 
                  i.icon-folder-close-alt
                  | tmp文件夹容量
              span6(style="float: right;margin-top: -40px;")
                div(id="mini_tmp_serdetail",style=" display: inline-block; width: 22px; height: 20px;")
    
            div(style="padding: 10px;")
              span6
                span(style="font-family: 'bebas';font-size: 25px;color:rgb(98, 168, 234)",ms-text="per_var+ '%'")
                span(style="display: block;color:rgb(141,141,141)") 
                  i.icon-folder-close-alt
                  | var文件夹容量
              span6(style="float: right;margin-top: -40px;")
                div(id="mini_var_serdetail",style=" display: inline-block; width: 22px; height: 20px;")
  
  div.row-fluid.wow.fadeIn
    div.span12
      div.portlet.solid.bordered.light-grey(style="border: 1px solid rgb(228, 228, 228);background: rgb(255, 255, 255) !important;")
        div.portlet-title(style="margin-bottom: 22px;padding: 12px 10px 17px;")
          div.caption(style="font-weight:bold")
            | 设备负载
          div.actions
          div.tools
            a(href="javascript:;",class="collapse")
            a(href="javascript:;",class="reload")
            a(href="javascript:;",class="remove")
        div.portlet-body(style="")
          div(style="height:150px")
            div.span3
              div.easy-pie-chart
                div#cpu-load.number.easyPieChart(data-percent="0")
                  span(style="color: rgb(87, 199, 212);font-size: 25px;font-family: 'bebas';") {{cpu_load}}
                a.title(href="javascript:;",ms-title="lang.tips_cpu",data-placement="bottom",style="color:rgb(141, 141, 141);font-size: 13px;margin-top: 15px;")
                  | {{lang.title_cpu_load}}
                //div(ms-html="fattr_view_status(cpu_load,alarm,'处理器','storage')",style="text-align: center;margin-top: -10px")
            div.span3
              div.easy-pie-chart
                div#system-load.number.easyPieChart(data-percent="0")
                  span(style="color: rgb(87, 199, 212);font-size: 25px;font-family: 'bebas';") {{per_system}}
                a.title(href="javascript:;",style="color:rgb(141, 141, 141);font-size: 13px;margin-top: 15px;")
                  | 系统盘容量
                //div(ms-html="fattr_view_status(per_system,alarm,'缓存','storage')",style="text-align: center;margin-top: -10px")
            div.span3
              div.easy-pie-chart
                div#mem-load.number.easyPieChart(data-percent="0")
                  span(style="color: rgb(87, 199, 212);font-size: 25px;font-family: 'bebas';") {{mem_load}}
                a.title(href="javascript:;",ms-title="lang.tips_mem",data-placement="bottom",style="color:rgb(141, 141, 141);font-size: 13px;margin-top: 15px;")
                  | {{lang.title_mem_load}}
                //div(ms-html="fattr_view_status(mem_load,alarm,'内存','storage')",style="text-align: center;margin-top: -10px")
            div.span3
              div.easy-pie-chart
                div#cap-load.number.easyPieChart(data-percent="0")
                  span(style="color: rgb(87, 199, 212);font-size: 25px;font-family: 'bebas';") {{cap_load}}
                a.title(href="javascript:;",ms-title="lang.tips_mem",data-placement="bottom",style="color:rgb(141, 141, 141);font-size: 13px;margin-top: 15px;")
                  | 文件系统容量
                //div(ms-html="fattr_view_status(cap_load,alarm,'内存','storage')",style="text-align: center;margin-top: -10px")
            
  div.row-fluid.wow.fadeIn(style="display:none")
    div.span12
      div.portlet.solid.bordered.light-grey(style="border: 1px solid rgb(228, 228, 228);background: rgb(255, 255, 255) !important;")
        div.portlet-title(style="padding: 12px 10px 17px;")
          div.caption(style="font-weight:bold")
            //i.icon-book
            | {{lang.tabletitle8}}
          div.actions
          div.tools
            a(href="javascript:;",class="collapse")
            a(href="javascript:;",class="reload")
            a(href="javascript:;",class="remove")
        div.portlet-body
          div.tabbable.tabbable-custom
            ul.nav.nav-tabs
              li.active
                a(class="special",href="#pages_1",data-toggle="tab")
                  i.icon-bell
                  | {{lang.all_info}}
              //li
                a(class="special",href="#pages_2",data-toggle="tab")
                  i.icon-remove
                  | {{lang.mistake}}
              //li
                a(class="special",href="#pages_3",data-toggle="tab")
                  i.icon-warning-sign
                  | {{lang.warning}}
              //li
                a(class="special",href="#pages_4",data-toggle="tab")
                  i.icon-volume-up
                  | {{lang.info}}
                  
            div.tab-content
              div#pages_1.tab-pane.active
                div#journals-scroller-1.scroller(data-height="250px")
                  table#log-table1.table.table-striped.table-hover
                    thead
                      tr
                        th(ms-text="lang.date",style="")
                        th(ms-text="lang.level",style="")
                        //th(ms-text="lang.status",style="")
                        th(ms-text="lang.message",style="")
                    tbody
                      tr(ms-repeat-e="journal")
                        td(ms-text="e.created")
                        td(ms-html="fattr_journal_status(e.level)")
                        //td(ms-text="e.chinese_status",style="")
                        td(ms-text="e.message")
                        
              div#pages_2.tab-pane
                div#journals-scroller-2.scroller(data-height="320px")
                  table#log-table2.table.table-striped
                    thead
                      tr
                        th(ms-text="lang.date",style="")
                        th(ms-text="lang.level",style="")
                        //th(ms-text="lang.status",style="")
                        th(ms-text="lang.message",style="")
                    tbody
                      tr(ms-repeat-e="journal_critical")
                        td(ms-text="e.created")
                        td(ms-html="fattr_journal_status(e.level)")
                        //td(ms-text="e.chinese_status",style="")
                        td(ms-text="e.message")
              div#pages_3.tab-pane
                div#journals-scroller-3.scroller(data-height="320px")
                  table#log-table3.table.table-striped
                    thead
                      tr
                        th(ms-text="lang.date",style="")
                        th(ms-text="lang.level",style="")
                        //th(ms-text="lang.status",style="")
                        th(ms-text="lang.message",style="")
                    tbody
                      tr(ms-repeat-e="journal_warning")
                        td(ms-text="e.created")
                        td(ms-html="fattr_journal_status(e.level)")
                        //td(ms-text="e.chinese_status",style="")
                        td(ms-text="e.message")
              div#pages_4.tab-pane
                div#journals-scroller-4.scroller(data-height="320px")
                  table#log-table4.table.table-striped
                    thead
                      tr
                        th(ms-text="lang.date",style="")
                        th(ms-text="lang.level",style="")
                        //th(ms-text="lang.status",style="")
                        th(ms-text="lang.message",style="")
                    tbody
                      tr(ms-repeat-e="journal_info")
                        td(ms-text="e.created")
                        td(ms-html="fattr_journal_status(e.level)")
                        //td(ms-text="e.chinese_status",style="")
                        td(ms-text="e.message")
 