doctype html
div.container-fluid
  h3.page-title
  div.row-fluid
    div.span12          
      div.portlet.box.grey
        div.portlet-title
          div.caption
            | {{lang.title}}
          div.actions
        div.portlet-body
          form.cloud.form-horizontal(novalidate="novalidate",action="javascript:;")
            div#journals-scroller.scroller(data-height="320px")
              table#disk-table.table.table-striped
                thead
                  tr
                    th(ms-text="lang.label_location",style="font-weight: bolder;")
                    th(ms-text="lang.label_health",style="font-weight: bolder;")
                    th(ms-text="lang.label_role",style="font-weight: bolder;width:60px")
                    th(ms-text="lang.label_cap",style="font-weight: bolder;")
                    th(ms-text="lang.label_raid",style="font-weight: bolder;")
                tbody(ms-each-e="disks")
                  tr
                    td(ms-text="e.Location")
                    td(ms-text="e.Health")
                    td(ms-text="e.Role")
                    td(ms-text="e.Cap_Sector")
                    td(ms-text="e.Raid")
                    
  div.modal-footer
    button.btn(type="button",data-dismiss="modal")
      i.icon-undo
      | {{lang.btn_cancel}}
    button.btn.green(type="button",ms-click="submit")
      i.icon-ok
      | {{lang.btn_confirm}}
       
