doctype html
div.container-fluid
  h3.page-title(ms-html="lang.title")
  div.row-fluid
    div.span12
      div.portlet.box.purple
        div.portlet-title
          div.caption
            i.icon-layers
            | {{lang.tabletitle}}
          div.actions
            a.btn.btn-default.btn-sm(href="javascript:;",ms-click="create_mysql")
              i.icon-plus
              | {{lang.add_btn}}
            | &nbsp;
            a.btn.btn-default.btn-sm(href="javascript:;",ms-click="delete_record")
              i.icon-close
              | {{lang.remove_btn}}
            | &nbsp;
            
        div.portlet-body
          table#store-table.table.table-striped.table-hover
            thead
              tr
                th(style="width: 45px;")
                  input(type="checkbox",ms-duplex-radio="all_checked")
                //th(ms-text="lang.th_detail",style="")
                th(ms-text="lang.th_name",style="width: 77px;")
                th(ms-text="lang.th_ip",style="width: 134px;")
                th(ms-text="lang.th_server",style="width: 141px;")
                th(ms-text="lang.th_session",style="width: 86px;")
                //th(ms-text="lang.th_edit",style="width: 80px;")
            tbody
              tr(ms-repeat-e="devices")
                td
                  input(type="checkbox",ms-duplex-radio="e.checked")
                //td
                  //span.row-details(ms-click="detail",ms-class="row-details-close:e.detail_closed",ms-class-1="row-details-open:!e.detail_closed")
                td(ms-text="e.name")
                td(ms-text="e.ip")
                td(ms-text="e.master")
                td(ms-html="fattr_server_health(e.status)")
                //td(style="")
                  //a.btn.mini.green(href="javascript:;",ms-click="expand(e.ip);",ms-if="e.status===false")
                    //| {{lang.func_mount}}
                  //a.btn.red.mini.tooltips.tooltips(href="javascript:;",ms-click="unset(e.name,e.ip);")
                    //| {{lang.func_unset}}