doctype html
table.table.table-condensed.table-hover
  thead
    tr
      th(ms-text="lang.th_server",style="font-weight: bold;")
  tbody
    tr(ms-repeat-e="servers")
      td(ms-text="e.ip")
      
